:root {
	--primary: #0d6efd;
	--dark: #21252f;
	--body: #888;
	--box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body {
	font-family: "Sora", sans-serif;
	line-height: 1.7;
	color: var(--body);
}

.navbar {
	background-color: var(--dark);
}

.side_bar {
	width: 18%;
	height: 100vh;
	float: left;
	border-right: #888 1px solid;
	text-align: center;
}

.main_body {
	width: 82%;
	height: 100%;
	float: left;
}

.folder_list {
	position: relative;
}

.folder_list a {
	display: block;
	border-top: #888 1px solid;
	border-bottom: #888 1px solid;
}

.folder_list a:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(200%, -50%);
}

.show_progress {
	width: 70%;
}

.edit_button {
	vertical-align: middle;
}

.buttons {
	margin-left: 100px;
}

.edit_number {
	margin-left: 62px;
}

.edit_correct {
	margin-left: 105px;
}
