<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>問題集の進捗管理アプリ</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./../static\sytle.css" />
	</head>

	<body>
		<nav class="navbar">
			<div class="container-fluid ms-5">
				<span class="navbar-brand mb-0 h1 border py-3 px-3">Navbar</span>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-7 my-4 mx-auto border py-3">
					<form method="post" action="/">
						<label class="mx-1" for="folder">問題集:</label>
						<input type="text" id="folder" name="folder" required />
						<label class="mx-1" for="question_number">番号:</label>
						<input
							type="text"
							id="question_number"
							name="question_number"
							required
						/>
						<label class="mx-1" for="correct">正解:</label>
						<input type="checkbox" id="correct" name="correct" />
						<button type="submit" class="btn btn-outline-primary mx-1">
							追加
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="container show_progress border">
			<div class="row mt-3 border-bottom">
				<div class="col-lg-3">問題集</div>
				<div class="col-lg-3">番号</div>
				<div class="col-lg-3">正解/不正解</div>
				<div class="col-lg-3"></div>
			</div>
			{% for progress in progress_list%} {% if progress.id!=id%}
			<div class="row py-2 border-bottom">
				<div class="col-lg-3 d-flex align-items-center">
					{{progress.folder}}
				</div>
				<div class="col-lg-3 d-flex align-items-center">
					{{progress.question_number}}
				</div>
				<div class="col-lg-3 d-flex align-items-center">
					{{"正解" if progress.correct else "不正解"}}
				</div>
				<div class="col-lg-3 edit_button">
					<a
						class="btn btn-primary disabled"
						href="/edit/{{progress.id}}"
						role="button"
						aria-disabled="true"
						>編集</a
					>
				</div>
			</div>
			{% else %}
			<div class="row py-2 border-bottom">
				<form method="post" action="/edit/{{progress.id}}" class="d-flex">
					<label for="folder" class="my-auto">問題集:</label>
					<input
						type="text"
						id="folder"
						name="folder"
						size="13"
						value="{{progress.folder}}"
						required
					/>
					<label class="my-auto edit_number" for="question_number">番号:</label>
					<input
						type="text"
						size="10"
						id="question_number"
						name="question_number"
						value="{{progress.question_number}}"
						required
					/>
					<label class="my-auto edit_correct" for="correct">正解:</label>
					<input class="me-5" type="checkbox" id="correct" name="correct" />
					<div class="buttons">
						<button type="submit" class="btn btn-outline-primary">
							決定
						</button>
						<a
							class="btn btn-primary"
							href="/"
							role="button"
							aria-disabled="true"
							>キャンセル</a
						>
					</div>
				</form>
			</div>
			{% endif %} {% endfor %}
		</div>
	</body>
</html>
