<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>問題集の進捗管理アプリ</title>
    <link rel="stylesheet" href="../css/sytle.css">
  </head>

  <body>
    <h1>問題集の進捗管理アプリ</h1>
    <form method="post" action="/">
      <label for="folder">フォルダ:</label>
      <input type="text" id="folder" name="folder" required />
      <label for="question_number">問題番号:</label>
      <input
        type="number"
        id="question_number"
        name="question_number"
        min="1"
        required
      />
      <label for="correct">正解:</label>
      <input type="checkbox" id="correct" name="correct" />
      <button type="submit">追加</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>フォルダ</th>
          <th>問題番号</th>
          <th>正解/不正解</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        {% for progress in progress_list %}
        <tr>
          <td>{{ progress.folder }}</td>
          <td>{{ progress.question_number }}</td>
          <td>{{ '正解' if progress.correct else '不正解' }}</td>
          <td>
            <form method="post" action="/delete/{{progress.id}}">
              <button type="submit">削除</button>
            </form>
          </td>
          <td>
            <form method="post" action="/edit/{{progress.id}}">
              <button type="submit">編集</button>
            </form>
          </td>
          <td>
            <form method="post" action="/try/{{progress.id}}">
              <button type="submit">解きなおし</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script src="../js/script.js"></script>
  </body>
</html>
